* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: red;
}

#slider {
    width: 600px;
}

#slider .top {
    position: relative;
    animation: animatetop 2s;
}

@keyframes animatetop {
    from {
        top: -800px;
        opacity: 0
    }

    to {
        top: 0px;
        opacity: 1;
    }
}