* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	font-family: Verdana, sans-serif;
	font-size: 12px;

	background-image:
       repeating-linear-gradient(45deg, 
                                #fff 0%, 
                                #fff 2%, #CC0033 2%, 
                                #CC0033 4%, #fff 4%);
}
/*wrapper
+++++++++++++++++++++++++++++*/
#wrapper {
	width: 1000px;
	height: 100%;
	min-height: 100%;
	height: auto !important;
	overflow: hidden !important;
	margin: 0 auto;
	background-color: #fff;
	position: relative;
	padding-bottom: 50px;
}

