* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#box1 h3 {
	background-color: lightyellow;
}

#box1 p {
	background-color: white;
}

ul {
	background-color: rgb(105, 79, 49);
	list-style: none;
	padding: 10px;
	width: 220px;
	display: inline-flex;
}

ul h3 {
	width: 200px;
}

li {
	background-color: white;
	padding: 5px;
	width: 200px;
}

#box2 h3 {
	margin-bottom: 0;
}